html,
body {
  height: 50%;
  margin: 0;
  color: #fff;
}

.full {
  width: 50%;
  height: 100%;
  background-color: #191919;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from {
    background-color: #4c4c4c;
  }

  to {
    background-color: #191919;
  }
}

div.full {
  padding: auto;
  color: #fff;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.62);
  position: absolute;
  text-align: center;
}

#bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 24px;
  margin-bottom: 20px;
  margin-right: 20px;
}



@import url('https://fonts.googleapis.com/css?family=Cairo');

body {
  background-color: #010;
}

.title {
  font-family: "Cairo";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  letter-spacing: 1px;
  line-height: 2
}

h1 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  /* -moz-background-clip: text; */
  /* -webkit-background-clip: text; */
  text-transform: uppercase;
  font-size: 70px;
  margin: 10px 0;
}

/* styling my button */

.white-mode {
  text-decoration: none;
  padding: 7px 10px;
  background-color: rgb(7, 11, 11);
  border-radius: 3px;
  color: #FFF;
  transition: .35s ease-in-out;
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-family: "Montserrat";
}

.white-mode:hover {
  background-color: #FFF;
  color: #122;
}



@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #131313;
  color: #fff;
  font-size: 96px;
  font-family: 'Fira Mono', monospace;
  letter-spacing: -1px;
}

div {
  animation: glitch 1s linear infinite;
}

/* @keyframes glitch {

  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }

  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }

  62% {
    transform: translate(0, 0) skew(5deg);
  }
} */

div:before,
div:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

div:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {

  2%,
  64% {
    transform: translate(2px, -2px);
  }

  4%,
  60% {
    transform: translate(-2px, 2px);
  }

  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

div:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {

  2%,
  64% {
    transform: translate(-2px, 0);
  }

  4%,
  60% {
    transform: translate(-2px, 0);
  }

  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}